<!DOCTYPE html>

<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <title>Page not found: PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Page not found: PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" />

        <link rel="stylesheet" href="/static/CACHE/css/f438f1304d1c.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/CACHE/css/a5c0829f431b.css" type="text/css" /><link rel="stylesheet" href="/static/CACHE/css/2490bb96ecdd.css" type="text/css" media="screen" />

        <!-- Le javascript -->
        <script type="text/javascript">
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "G8FX3fb1GWIltRABdMTWcVYTSrOuuUZULGehwBSFNJuXaRXvxjOPo8jbQOPTh8nb";
        </script>
        <script type="text/javascript" src="/static/CACHE/js/efd0f9224b4c.js"></script>
        

        
        
        

    </head>

     <body style="height:100%;">
       <div style="min-height: 100%; position: relative;">
        
        
  <nav class="navbar top-nav hidden-xs">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="" class="feedback_link">Send feedback</a></li>
<li class=""><a href="/forums/" class="forums_link">Forums</a></li>
<li class=""><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class=""><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
    <li class=""><a href="/user/veksor/" class="dashboard_nav_link">My Dashboard</a></li>
  
  <li class=""><a href="/user/veksor/account/" class="account_link">Account</a></li>
  <li class="">
    <form action="/logout/" method="POST">
      <input type='hidden' name='csrfmiddlewaretoken' value='G8FX3fb1GWIltRABdMTWcVYTSrOuuUZULGehwBSFNJuXaRXvxjOPo8jbQOPTh8nb' />
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


      </ul>
    </div>
  </nav>

  




  <nav class="navbar primary-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img id='id_logo' src="/static/anywhere/images/PA-logo.svg" width="225">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="nav navbar-nav navbar-right">
          
            

          
          <li class="visible-xs"><a href="" class="feedback_link">Send feedback</a></li>
<li class="visible-xs"><a href="/forums/" class="forums_link">Forums</a></li>
<li class="visible-xs"><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class="visible-xs"><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
    <li class="visible-xs"><a href="/user/veksor/" class="dashboard_nav_link">My Dashboard</a></li>
  
  <li class="visible-xs"><a href="/user/veksor/account/" class="account_link">Account</a></li>
  <li class="visible-xs">
    <form action="/logout/" method="POST">
      <input type='hidden' name='csrfmiddlewaretoken' value='G8FX3fb1GWIltRABdMTWcVYTSrOuuUZULGehwBSFNJuXaRXvxjOPo8jbQOPTh8nb' />
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


        </ul>
      </div>

    </div>
  </nav>

  <div class="container">
    

  </div>

  

    
  


        
  


        

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h1 class="error_header" id="id_server_error_title">404 Not Found</h1>

                <p id="id_server_error_text">
                The page that you seek<br/>
                can't be found; lost in the clouds.<br/>
                Please look somewhere else

                <p>
                <a id="id_link_home" href="/">&laquo; Return to PythonAnywhere home</a>

            </div>
        </div>
    </div>



        
  <div class="footer-spacer"></div>
  <footer id="id_copyright_div" class="footer">
    <p>
      Copyright &copy; 2011-2019 <a href="/about/company_details/">PythonAnywhere LLP</a>
      &mdash;
      <a href="/terms/">Terms</a>
      &mdash;
      <a href="/privacy/">Privacy & Cookies</a><br/>
      </p>
  </footer>

      </div>

        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br/>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)"/>
    
    <div id="id_feedback_dialog_error" class="pa_hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn btn-default" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
</div>


        
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-18014859-6', 'auto');
                ga('send', 'pageview');
            </script>
        

        
        <!-- preload font awesome fonts to avoid glitch when switching icons -->
        <div style="width: 0; height: 0; overflow: hidden"><i class="fa fa-square-o fa-3x" ></i></div>
    </body>
</html>
