<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <label>Oeuvre&nbsp;&nbsp;</label>
    <input name="titre" placeholder="entrer l'oeuvre"><br><br>
    <label>Auteur&nbsp;&nbsp;&nbsp;</label>
    <input name="auteur" placeholder="entrer l'auteur"><br><br>
    <label>Numéro&nbsp;</label>
    <input name="number" placeholder="entrer le numéro"><br><br>
     <label>Problématique</label>
    <input name="problematique" placeholder="entrer la problématique"><br><br>
    <label>Titre I&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="I" placeholder="entrer le I"><br><br>
    <ul>
    <label>Titre I.1</label>
     <input name="I1" placeholder="entrer le I.1"><br><br>
    <label>Titre I.2</label>
     <input name="I2" placeholder="entrer le I.2"><br><br>
    <label>Titre I.3</label>
     <input placeholder="entrer le I.3" name="I3"><br><br>
        </ul>
    <label>Titre II&nbsp;&nbsp;&nbsp;</label>
    <input name="II" placeholder="entrer le II"><br><br>
    <ul>
    <label>Titre II.1</label>
     <input placeholder="entrer le II.1" name="II1"><br><br>
    <label>Titre II.2</label>
     <input placeholder="entrer le II.2" name="II2"><br><br>
    <label>Titre II.3</label>
     <input placeholder="entrer le II.3" name="II3"><br><br>
        </ul>
    <label>Titre III&nbsp;&nbsp;</label>
    <input name="III" placeholder="entrer le III"><br><br>
    <ul>
    <label>Titre III.1</label>
     <input name="III1" placeholder="entrer le III.1"><br><br>
    <label>Titre III.2</label>
     <input name="III2" placeholder="entrer le III.2"><br><br>
    <label>Titre III.3</label>
     <input name="III3" placeholder="entrer le III.3"><br><br>
    </ul>
    <input type="submit">
</form>
</body>
</html>